# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
*authorized_key.json

# Terraform variable files
*.tfvars
*.tfvars.json